<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block  meta %}{% endblock %}
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1L94saFXWAvEw88RkpRz8r28eQMvt7kG9ux3DdCqya/P3CfLNtgqzMnyaUa49Pl2" crossorigin="anonymous">
    <link href="{{ url_for("static",filename="style.css") }}"/>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .well {
            min-height: 100%;
        }
    </style>
    {% if title %}
        <title>{{ title }}| Bankopedia </title>
    {% else %}
        <title>Welcome to Bankopedia </title>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bankopedia</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                    <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Indian Economy</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Deposits
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Saving Account</a></li>
                        <li><a href="#">Fixed Deposit Account</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Knowledge
                        Capsules <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Money, Banking and Finance</a></li>
                        <li><a href="#">RBI and its functions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Financial Calculators<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Fixed Deposit Calculator</a></li>
                        <li><a href="#">Recurring Deposit Calculator</a></li>
                        <li><a href="#">EMI Calculator</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% block main_content %}{% endblock %}
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Financial Knowledge
                </a>
                <a href="#" class="list-group-item">RBI and Its Functions
                </a>
                <a href="#" class="list-group-item">Deposit Rates of Various Banks
                </a>
                <a href="#" class="list-group-item">IFSC Codes of Various Banks
                </a>
                <a href="#" class="list-group-item">MICR Codes of Various Banks
                </a>

            </div>

        </div>
    </div>
</div>

{% block script_content %}{% endblock %}
<footer class="footer">
    <div class="container">
        <hr/>
        <p class="text-muted">&copy;Bankopedia 2016</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>